*{
    padding: 0;
    margin: 0;
}
body{
    width: 1536rem;
    overflow-x: hidden;
    height: 1000px;
}
a{
    text-decoration: none;
}
ul{
    display: inline-block;
    cursor: pointer;
    margin: auto;
    width: auto;
    height: auto;
}
li{
    list-style: none;
}
.header{
    width:1536px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.637);
    position: relative;

}
.header .logo a img{
    position: absolute;
    width: 69px;
    height: 28px;
    left:60px;
    top: 15px;
}
.header .zhuzhan a{
    position: absolute;
    margin-top: 15px;
    left: 120px;
    vertical-align: bottom;
    color: rgba(35, 146, 197, 0.63);
    font-weight: bold;
    font-size: 20px;
   
}
.header .fanju a{
    position: absolute;
    margin-top: 5px;
    left: 200px;
    vertical-align: bottom;
    text-decoration: none;
    color: rgba(0, 225, 255, 0.575);
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px 19px 20px;
    transition: box-shadow 1s;
}
.header .fanju a:hover{
    box-shadow: 1px 1px 10px 1px;
    ;
}
.header .submit .text input{
    position: absolute;
    top: 8px;
    height: 45px; 
    width: 153px;
    outline: none;
    right: 350px;
    border:0;
    z-index: 999999;
}
.header .submit .tu img{
    height: 45px;
    overflow: hidden;
    margin-left: 1013px;
    top: 8px;
    position: absolute;
    border-radius:1%;
    width: 230px;
}
/*
.header .submit .tu1 img{
    height: 44px;
    overflow: hidden;
    margin-left: 480px;
    top: 8px;
    position: absolute;
    border-radius:3%;
    width: 610px;
}
.header .submit .tu:hover{
    display: none; 
}

*/
.header .touxiang img{
    position: absolute;
    height:auto;
    width:auto;
    left: 1400px;
    cursor: pointer;
    top: 15px;
    color: aliceblue;
}
.header .touxiang .denglu label a{
    position: absolute;
    font-size: 20px;
    color: rgba(211, 207, 207, 0.877);
    right: 150px;
    top: 15px;
    cursor:pointer;
}
.header .touxiang .denglu label a:hover{
    color: aliceblue;
    transition: 1s;
}



.gg{
    position: fixed;
    width: 19px;
    top: 400px;
    background-color: rgba(89, 194, 255, 0.123);
    padding: 10px 6px 10px 10px;
    border-radius: 8%;
    margin-left: -8px;
    box-shadow: 1px 1px 5px 2px;

}
.gg a{
    color:rgba(217, 255, 0, 0.836);
}
.category{
    position: relative;
    left: 300px;
    top: 5px;
}
.category .china{
   position: absolute;
    font-size: 20px;
    color: rgba(0, 225, 255, 0.575);
    font-weight: bolder;
    padding: 10px 20px 19px 20px;
    transition: box-shadow  1s;
    
}


.category .china:hover{
    box-shadow: 2px 1px 10px 1px;
    
}
.category .japan{
    position: absolute;
    left: 100px;
    font-size: 20px;
    color: rgba(0, 225, 255, 0.575);
    font-weight: bolder;
    padding: 10px 20px 19px 20px;
    transition:  box-shadow 1s;
}
.category .japan:hover{
    box-shadow: 2px 1px 10px 1px;
}
.category .manhua{
    position: absolute;
    left:200px;
    font-size:20px;
    color: rgba(0, 225, 255, 0.575);
    font-weight: bolder;
    padding: 10px 20px 19px 20px;
    transition: box-shadow 1s;
}
.category .manhua:hover{
    box-shadow: 2px 1px 10px 1px;
}
.category .new{
    position: absolute;
    left:300px;
    font-size:20px;
    color: rgba(0, 225, 255, 0.575);
    font-weight: bolder;
    padding: 10px 20px 19px 20px;
    transition: box-shadow  1s;
}
.category .new:hover{
    box-shadow: 2px 1px 10px 1px;
}
.category .paihangbang{
    position: absolute;
    left:570px;
    font-size:20px;
    font-weight: bolder;
    box-shadow: 1px 2px 20px 1px;
    padding: 15px 20px 18px 20px;
    margin-top: -5px;
    border-radius: 8%;
    color: rgba(0, 225, 255, 0.575);
    font-weight: bolder;
    background-color: rgba(109, 205, 237, 0);
    transition:background-color 1s,box-shadow 1s;
}
.category .paihangbang:hover{
    background-color: rgba(0, 204, 255, 0.137);
}
video{
    position: absolute;
    height: auto;
    width: 1582px;
    top:-150px;
    z-index: -9999;
}