body{
    background: url("../../images/IMG_0757.JPG") repeat 0 0/100%;

}
.blank{
   
    margin-top: 10%;
}
li{
    list-style: none;
    display: inline-block;
}
.header {
    width: 99%;
    height: 88px;
    line-height: 73px;
    color:white;
    background: black;
    margin: 0 10px;
    margin-top: -130px;
    position: fixed;
    margin-left: -0.09%;
}

.header nav a{
   
    float: left;
    width: 10%;
    height: 10%;
    text-align: center;
    text-decoration:none;
    
}

.header nav  a .WebMenu1{


margin-top: 5%;
display: none;

}
.header nav a:hover{
    background-color: grey;
    
}

.header nav a:hover .WebMenu1{
    background-color: grey;
   display: block;
   color: white;
   
}


.header div a{
    float: right;
    width: 10%;
    height: 10%;
    text-align: center;
    text-decoration:none;
    
}

.header .logo{
    position: absolute;
    width: 328px;
    height: 88px;
    background: url(../../images/IMG_0758.png) 0 0/100%;
    left: 0;
    right: 0;
    margin: auto;
}

.header .logo h1{
    display: none;
}

a{  
    text-decoration: none;
}

.vedio{
    width:10%;
    height: 10%;
    display: inline-block;
    margin: 2%;
    
}
    .vedio-text{
        text-align: center;
    }
 .vedio-text h4 p{
    margin-top: 0;
    margin-left: 50%;
    margin-bottom: auto;
}

.title{
   
    left: 10%;
    margin-bottom: 0;
    
}
body{
    height:3000px;
}
.title h3{
    background-color: black;
    color: white;
    
}
.lunbotu .huang1 .tu{
    position: absolute;
    margin-left: 60%;
    width: 310px;
    height: 208px;
}